.contribute
    display flex
    text-align center
    max-height 427px
    padding 0
    
    hr
        width 2rem
        border 0
        background-color $brandPrimaryLight
        opacity 0.3
        height 1px
        margin 1rem
        margin-top 0.6rem
    p
        margin 0
        opacity 0.3
        font-weight 300
        
    h2
        text-transform none
        font-weight 400
    
.contribution
    flexCenter()
    flex-direction column
    padding $largeSectionPadding 0
    width $third
    position relative
    
.contributionLeft
    background-color rgba(50,78,92,0.85)
    &:after
        underlayImage("../images/teaser01.jpg")
        background-size cover
        background-position center center
    
.contributionMiddle
    background-color rgba(71,64,71,0.85)
    &:after
        underlayImage("../images/teaser02.jpg")
        background-size cover
        background-position center center
    
.contributionRight
    background-color rgba(93,54,49,0.85)
    &:after
        underlayImage("../images/teaser03.jpg")
        background-size cover
        background-position center center