.contactInfo
    backgroundColorWithImage(rgba(255,255,255,0.85), "../images/map.jpg")
    
.contactInfoWrapper
    flexCenter()
    flex-direction column
    position relative
    bottom -6rem
    z-index 20
    ulReset()
    
    ul
        flexCenter()
        justify-content space-around
        width $full
        img
            width 48px
            margin-bottom 2rem
    li
        flexCenter()
        flex-direction column
        p
            margin 0.25rem
        
    form
        flexCenter()
        flex-wrap wrap
        background-color $brandPrimaryLight
        margin-top 4rem
        padding 2rem
        width $full
        
    .formColumn
        flexCenter()
        flex-direction column
        width $half
        height $full
        padding 1rem
        img
            left 1rem
            top 0.5rem
            width 18px
            position absolute

    .inputWrapper, input[type="text"], textarea
        width $full
        margin-bottom 0.5rem
    
    input[type="text"], textarea
        padding 0.5rem
        border none
        border 1px solid $brandNeutral
        
    .inputWrapper
        position relative
        margin 0
        
    input[type="text"]
        padding-left 2.5rem

    textarea
        resize none
        text-indent 2rem
        height calc(((2rem + 0.5rem) * 3))