.counters
    ulReset()
    backgroundGradientWithImage($gradientVibrant, "../images/circles-pattern.png", initial, initial)
    p
        margin 0
        margin-top 0.5rem
    h3
        font-weight 900
        font-family $openSans
        color $brandPrimaryLight
        margin-top 1rem
    img
        max-width 50px
    ul
        width 100%
        flexCenter()
        justify-content space-around
    li
        flexCenter()
        flex-direction column
