footer
    flexCenter()
    flex-direction column
    padding-top 4rem
    background-color rgba(76,76,76,0.9)
    underlayImage("../images/circles-pattern.png", initial, initial)
    input[type="text"]
        padding 0.5rem
        border none
        border 1px solid $brandNeutral
        text-align center
        width $logoWrapperWidth
    
    
.footerBottom
    position realative
    margin-top 2rem
    padding 2rem 0
    width $full
    flexCenter()
    background-color rgba(0,0,0,0.5)
    p
        color $brandDim
    font-size $miniParagraph
    img
        width 1rem
        margin 0 0.2rem
