header
    padding $largeSectionPadding 0
    flexCenter()
    flex-direction column
    height 80vh
    backgroundDarkGradient()
    &:after
        underlayImage("../images/header-big.jpg")
        background-size cover
        background-position center center