html
    font-family $openSans
    color $brandPrimaryLight
    
body
    background darkgray 
    
    
// ===================================================
// =                REPEATABLE CLASSES               =
// ===================================================
    
a
    color $brandPrimaryLight
    text-decoration none    

h1, h2, h3, h4, h5
    color $brandPrimaryLight
    font-family $raleway
    font-weight 200
    text-transform uppercase
    text-align center
    margin 0
    
h1
    font-size $largestHeader

h2
    font-size $largerHeader
    font-weight 500

h3
    font-size $largeHeader
    
h4
    font-size $header
    
strong
    font-weight 800
    
blockquote
    text-align center
    font-size $grandParagraph
    font-weight 100
    
.largeQuotes
    position relative
    
    &:before, &:after 
        position absolute
        color $brandAccent
        font-family $pTSans
        font-size 5rem
        
    &:before
        top 0
        content '“'
        left 0
        
    &:after
        top 0
        content '”'
        right 0
img
    width $full

section
    padding $largeSectionPadding 0
    flexCenter()

.wrapper
    max-width $wrapperWidth
    width 100%
    
.lightSection
    color $brandPrimaryDark

.lightSection 
    background-color $brandPrimaryLight
    h1, h2, h3, h4, h5, p, button, input[type="submit"], input[type="button"]
        color $brandPrimaryDark
    button, input[type="submit"], input[type="button"]
        border 1px solid $brandPrimaryDark
        &:hover
            background-color rgba(175,175,175,0.1)
    a
        color $brandPrimaryDark

a:hover, a:active
    color $brandAccent
    
.subHeading
    font-size $header
    text-transform none

.grandParagraph
    font-size $grandParagraph

.miniParagraph
    font-size $miniParagraph

span.highlight, a.highlight
    color $brandAccent
    
span.thin
    font-weight 100
    
button, input[type="submit"], input[type="button"]
    color $brandPrimaryLight
    background none
    width 170px
    height 40px
    border 1px solid $brandPrimaryLight
    text-transform uppercase
    font-weight 200
    font-family $raleway
    font-size $miniParagraph
    letter-spacing $wideLetters
    margin $smallSectionPadding
    cursor pointer
    transition all 0.2s ease-in-out
    &:hover
        background-color rgba(255,255,255,0.1)

.socialMediaIcon
    padding 0.5rem
    color $brandNeutral
    &:hover
        color $brandAccent
        transform scale(1.2)
        transition scale 0.4s ease
    
.logoWrapper
    flexCenter()
    margin 2rem
    width $logoWrapperWidth
    justify-content space-between
    h2
        font-size 2rem
    img
        margin 0 1rem
        width 91px
    :nth-child(2)
        order 2
            
// ===================================================
// =            END OF REPEATABLE CLASSES            =
// ===================================================

.contactInfo
    background-color rgba(255,255,255,0.85)
    underlayImage("../images/map.jpg")
    
.contactInfoWrapper
    flexCenter()
    flex-direction column
    position relative
    bottom -6rem
    z-index 20
    ulReset()
    
    ul
        flexCenter()
        justify-content space-around
        width $full
        img
            width 48px
            margin-bottom 2rem
    li
        flexCenter()
        flex-direction column
        p
            margin 0.25rem
        
    form
        flexCenter()
        flex-wrap wrap
        background-color $brandPrimaryLight
        margin-top 4rem
        padding 2rem
        width $full
        
    .formColumn
        flexCenter()
        flex-direction column
        width $half
        height $full
        padding 1rem
        img
            left 1rem
            top 0.5rem
            width 18px
            position absolute

    .inputWrapper, input[type="text"], textarea
        width $full
        margin-bottom 0.5rem
    
    input[type="text"], textarea
        padding 0.5rem
        border none
        border 1px solid $brandNeutral
        
    .inputWrapper
        position relative
        margin 0
        
    input[type="text"]
        padding-left 2.5rem

    textarea
        resize none
        text-indent 2rem
        height calc(((2rem + 0.5rem) * 3))
    
        

// ===================================================
// =                 DEBUGING CLASSES                =
// ===================================================
        
// .georgia
//     h1
//         padding-top 45vh
//         text-transform none
//         font-weight 100
//         font-family Georgia, Times, "Times New Roman", serif
//         font-style italic
//     