html
    font-family $openSans
    color $brandPrimaryLight
    
body
    background darkgray 
    
    
// ===================================================
// =                REPEATABLE CLASSES               =
// ===================================================
    
a
    color $brandPrimaryLight
    text-decoration none    

h1, h2, h3, h4, h5
    color $brandPrimaryLight
    font-family $raleway
    font-weight 200
    text-transform uppercase
    text-align center
    margin 0
    
h1
    font-size $largestHeader

h2
    font-size $largerHeader
    font-weight 500

h3
    font-size $largeHeader
    
h4
    font-size $header
    
strong
    font-weight 800
    
blockquote
    text-align center
    font-size $grandParagraph
    font-weight 100
    
.quote
    position relative
    
    &:before, &:after 
        position absolute
        color $brandAccent
        font-family $pTSans
        font-size 5rem
        
    &:before
        top 0
        content '“'
        left 0
        
    &:after
        top 0
        content '”'
        right 0
img
    width 100%

section
    padding $largeSectionPadding 0
    flexCenter()

.wrapper
    max-width $wrapperWidth
    width 100%
    
.lightSection
    color $brandPrimaryDark

.lightSection 
    background-color $brandPrimaryLight
    h1, h2, h3, h4, h5, p, button, input[type="submit"], input[type="button"]
        color $brandPrimaryDark
    button, input[type="submit"], input[type="button"]
        border 1px solid $brandPrimaryDark
        &:hover
            background-color rgba(175,175,175,0.1)
    a
        color $brandPrimaryDark

a:hover, a:active
    color $brandAccent
    
.subHeading
    font-size $header
    text-transform none

.grandParagraph
    font-size $grandParagraph

.miniParagraph
    font-size $miniParagraph

span.highlight, a.highlight
    color $brandAccent
    
span.thin
    font-weight 100
    
button, input[type="submit"], input[type="button"]
    color $brandPrimaryLight
    background none
    width 170px
    height 40px
    border 1px solid $brandPrimaryLight
    text-transform uppercase
    font-weight 200
    font-family $raleway
    font-size $miniParagraph
    letter-spacing $wideLetters
    margin $smallSectionPadding
    cursor pointer
    transition all 0.2s ease-in-out
    &:hover
        background-color rgba(255,255,255,0.1)
    
.logoWrapper
    flexCenter()
    width 320px
    justify-content space-between
    h2
        font-size 2rem
    img
        width 91px
    :nth-child(2)
        order 2
            
// ===================================================
// =            END OF REPEATABLE CLASSES            =
// ===================================================

// .recentCauses
//     background-color $brandAccent

.recentCausesWrapper
    ulReset()
    display flex
    flex-direction column

.recentCausesNav
    flexCenter()
    li
        padding 1rem 2rem

.causesWrapper
    flexCenter()
    flex-wrap no-wrap
    
.causeWrapper
    margin 1rem
    background-color $brandPrimaryDark
    width $third

    .subTitle
        color #989898
        
    .causeTitle
        font-weight 600
        font-size $bigHeader
        text-transform none
        color $brandPrimaryLight
        padding 2rem
        padding-top 90%
    
.progressBottom
    flexCenter()
    flex-direction column
    background-color $brandPrimaryLight
    border 1px solid $brandNeutral
    border-top 0

.progressBarWrapper
    background-color $brandNeutral
    position relative
    height 10px
    &:after
        patternOverlay("../images/stripes-pattern.png", opac = 0.3)

.progressBar
    position absolute
    background-color $brandAccent
    top 0
    left 0
    bottom 0
    width 30%
    transition width 0.4s ease-in-out
        
.countWrapper
    flexCenter()
    .count
        flexCenter()
        flex-direction column
        p
            text-transform uppercase
            font-weight 100
            margin 0
        h3
            text-transform lowercase
            color $brandPrimaryDark
            font-family $openSans
            font-weight 900
            
        .number
            font-size $largerHeader
            
.countOf
    padding 0.75rem
    font-weight 100
    font-family $georgia
    font-style italic
    font-size 1.4rem
    line-height 1rem
    margin-top 0
    margin 0 1rem
    height 100%
    background linear-gradient(115deg, #FFFFFF 0, #FFFFFF 39px, $brandNeutral 40px, #FFFFFF 41px, #FFFFFF 50px)
    background-color goldenrod
    p
        margin 1rem 0
        


.slider
    padding 0 12.5%
    background-color lighten(goldenrod, 10)
    > *
        flexCenter()
        width $third
        height 200px
        background-color goldenrod
        border 2px solid lighten(goldenrod, 20)
        
.purchase
    padding $smallSectionPadding 0
    
.purchaseWrapper
    flexCenter()
    justify-content space-around
    width 100%
    p
        font-size $grandParagraph
    button
        margin 0
.blog
    backgroundDarkGradient()
    h5
        font-family $openSans
        

.blogWrapper
    flexCenter()
    flex-direction column

.postsWrapper
    flexCenter()

.postsWrapperInner
    flexCenter()
    flex-wrap wrap
    width $half
    
.post
    flex-grow 1
    margin 15px
    background-color $brandAccent
    position relative
    
.post.small
    width calc(50% - 30px)
    height 240px
        
.post.large
    width $full
    height 510px
    margin 0

.infoWrapper
    display flex
    align-items center
    justify-content space-around
    flex-wrap wrap
    background-color $brandPrimaryLight
    position relative
    top 100%
    transform translateY(-100%)
    
    i
        color $brandAccent
        padding 0 0.5rem
        
    .fa-heart-o
        font-weight 900
        
    .info
        flexCenter()
        flex-grow 1
        padding 1rem
        &:not(:last-child)
            border-right 1px solid $brandNeutral
        
    .description
        padding-top $smallSectionPadding
        flex-shrink 0
        width $full
        border-top 1px solid $brandNeutral
        p, h4, h5
            padding-left 2rem
        p
            color $brandNeutral
            padding-bottom 1rem
        h4, h5
            text-align left
        h4
            font-size $grandParagraph
            font-weight 400
            text-transform none
        h5
            font-size $miniParagraph

       
// ===================================================
// =                 DEBUGING CLASSES                =
// ===================================================
        
// .georgia
//     h1
//         padding-top 45vh
//         text-transform none
//         font-weight 100
//         font-family Georgia, Times, "Times New Roman", serif
//         font-style italic
//     