patternOverlay(imageUrl, opac = 1)
    position relative
    &:after
        content ' '
        background url(imageUrl)
        position absolute
        opacity opac
        top 0
        bottom 0
        left 0
        right 0
        z-index 10

underlayImage(imageUrl, size = cover, position = center center)
    position relative
    &:after
        content ' '
        background url(imageUrl)
        background-size size
        background-position position
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        z-index -10

underlayColor(colour)
    content ' '
    background-color colour
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -10
    
underlayGradient(colour1, colour2, angle = 90deg)
    content ' '
    background linear-gradient(angle, colour1, colour2)
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -10
    
ulReset()
    ul
        list-style none
        margin 0
        padding 0
        
flexCenter()
    display flex
    align-items center
    justify-content center
    
backgroundDarkGradient()
    background-color: rgb(76,76,76);
    background: linear-gradient(90deg, $gradientLeftDark, $gradientRightDark);
    
backgroundVibrantGradient()
    background-color: rgb(76,76,76);
    background: linear-gradient(90deg, $gradientLeft, $gradientRight);