nav
    ulReset()
    display flex
    flex-direction column
    width $full

.navTop
    display flex
    flex-direction column
    flex-wrap wrap
    width $full
    
ul.navTopItems
    flexCenter()
    justify-content space-around
    padding 0
    
.navTopItem
    flexCenter()
    width $third
    
.navTopItem:first-of-type
    justify-content flex-start
    margin-left 2rem
    
.navTopItem:last-of-type
    justify-content flex-end
    margin-right 2rem
        
.menuToggle
    display none
    background-color red
    font-size 1rem
    font-weight 100
    width 1.4rem
    height 1.4rem
    cursor pointer
    background url("../images/menu.png")
    background-position center center
    background-size cover
        
li.navBottomItem a
    display inline-block
    padding 1rem 2rem
    
li.navBottomItem a:hover
    background-color lighten(rgba(50,50,50, 1), 5)

.navBottom
    width $full
    background-color rgba(50,50,50, 1)
    
ul.navBottomItems
    padding 0
    flexCenter()
    
li.navBottomItem
    
    border-left 1px solid $brandPrimaryDark
    text-transform uppercase
    font-size $miniParagraph
    font-weight 100
    
li.navBottomItem:last-of-type
    border-right 1px solid $brandPrimaryDark