nav
    ulReset()
    display flex
    flex-direction column
    width 100%

.navTop 
    background lighten(goldenrod, 10)
    display flex
    flex-direction column
    flex-wrap wrap
    width 100%
    ul
        display flex
        background lighten(goldenrod, 20)
        justify-content space-between
        padding 0
        
.navBottom
    ul
        padding 0
        flexCenter()
        li
            padding 1rem
    width 100%
    background goldenrod