.recentCausesWrapper
    ulReset()
    display flex
    flex-direction column

.recentCausesNav
    flexCenter()
    li
        padding 1rem 2rem

.causesWrapper
    flexCenter()
    flex-wrap no-wrap
    
.causeWrapper
    margin 1rem
    background-color $brandPrimaryDark
    width $third

    .subTitle
        color #989898
        
    .causeTitle
        font-weight 600
        font-size $bigHeader
        text-transform none
        color $brandPrimaryLight
        padding 2rem
        padding-top 90%
        
    &.water
        background url("../images/donate/water.jpg")
    &.adopt
        background url("../images/donate/adopt.jpg")
    &.hunger
        background url("../images/donate/hunger.jpg")
        
    &.water, &.adopt, &.hunger
        background-size 120%
        background-position center top
    
.progressBottom
    flexCenter()
    flex-direction column
    background-color $brandPrimaryLight
    border 1px solid $brandNeutral
    border-top 0

.progressBarWrapper
    background-color $brandNeutral
    height 10px
    patternOverlay("../images/stripes-pattern.png", opac = 0.3)

.progressBar
    position absolute
    background-color $brandAccent
    top 0
    left 0
    bottom 0
    width 30%
    transition width 0.4s ease-in-out
        
.countWrapper
    flexCenter()
    .count
        flexCenter()
        flex-direction column
        p
            text-transform uppercase
            font-weight 100
            margin 0
        h3
            text-transform lowercase
            color $brandPrimaryDark
            font-family $openSans
            font-weight 900
            
        .number
            font-size $largerHeader
            
.countOf
    padding 0.75rem
    font-weight 100
    font-family $georgia
    font-style italic
    font-size 1.4rem
    line-height 1rem
    margin-top 0
    margin 0 1rem
    height 100%
    background linear-gradient(115deg, #FFFFFF 0, #FFFFFF 39px, $brandNeutral 40px, #FFFFFF 41px, #FFFFFF 50px)
    background-color goldenrod
    p
        margin 1rem 0