.slider
    padding 0 12.5%
    background-color lighten(goldenrod, 10)
    > *
        flexCenter()
        width $third
        height 200px
        background-color goldenrod
        border 2px solid lighten(goldenrod, 20)