.slider
    padding 0
    position relative
    overflow hidden
    
.gallerySliderContainer
    width 100%
    max-height 100%
    position relative
    .swiper-slide
        max-height 250px

.galleryArrowSVG
    fill $brandNeutral

.galleryPrev
    left 4rem
    
.galleryNext
    right 4rem