.slider
    padding 0
    position relative
        
.owl-prev, .owl-next
    position absolute
    top 50%
    transform translateY(-50%)
    z-index 10
    width 40px
    height 40px
    cursor pointer
    background-size cover
    background-position center center

.owl-prev
    left 4rem
    background url("../images/arrow-left-big.png")
    
.owl-next
    right 4rem
    background url("../images/arrow-right-big.png")