.urgentCause
    flexCenter()
    backgroundColorWithImage(rgba(255,255,255,0.85), "../images/hands.jpg")
    position relative
    
    h1
        font-family $openSans
        font-weight 600
        
    strong
        font-weight 900
        
.urgentCause:before
    content ' '
    background linear-gradient(90deg, $gradientLeft, $gradientRight)
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -10
        
.urgentCauseWrapper
    flexCenter()
    flex-direction column
    
    hr
        border none
        height 1px
        width 100%
        background-color $brandPrimaryLight
        margin 1rem 0 2rem 0
        
    h5
        letter-spacing $wideLetters
        font-size $miniParagraph
        margin 1rem 0
        
    .quote
        max-width 80%
        text-align center

.urgentItems
    flexCenter()
    width 100%
        
.urgentItem
    width 33.3%
    
.urgentLeft h2
    word-spacing 100vw
    text-align right
        
.urgentCenter
    flexCenter()
    position relative
    flex-direction column
    height 300px
    
.urgentRight
    ulReset()
    
    h4
        text-transform none
        text-align left
        
    strong
        font-family $openSans
        
.progressCircle
    position absolute
    width 200px
    
.stOverlayAnimate
    animation fillUp 1s ease forwards
    animation-delay 0.2s

.stRed, .stDashes, .stOverlay
    fill none
    stroke $brandAccent
    stroke-width 10
    stroke-miterlimit 10
    stroke-dasharray 1000, 1000
    stroke-dashoffset 227
    
.stDashes
    stroke lighten($brandAccent, 10)
    stroke-dasharray 12,12
    
.stOverlay
    stroke-width 11
    stroke $brandNeutral
    
@keyframes fillUp
    to
        stroke-dashoffset 900