//======================================
//=              COLOURS               =
//======================================

$brandAccent = #DE3C2F
$brandPrimaryLight = #FFF
$brandPrimaryDark = #4C4C4C
$brandNeutral = #E6E6E6
$brandDim = #989898
$borderLight = #F2F2F2

// Gradients
$gradientLeft = rgba(49, 158, 214, 0.90)
$gradientRight = rgba(222, 60, 47, 0.90)
$gradientVibrant = linear-gradient(90deg, $gradientLeft, $gradientRight)

$gradientLeftDark = rgba(71,91,100, 0.75)
$gradientRightDark = rgba(102,73,71, 0.75)
$gradientDark = linear-gradient(90deg, $gradientLeftDark, $gradientRightDark)

//======================================
//=              LAYOUT                =
//======================================

$wrapperWidth = 1170px
$smallWrapperWidth = 375px

$logoWrapperWidth = 340px

$largeSectionPadding = 4rem
$smallSectionPadding = 2rem

$full = 100%
$half = 50%
$third = 33.3%
$quarter = 25%

$blogPostMargin = 20px
$blogImageHeight = 240px
$blogInfoHeight = 48px

$wideLetters = 0.15rem

//======================================
//=         FONTS AND HEADINGS         =
//======================================

// Used for most paragraphs and other large bodies of text
$openSans = 'Open Sans', sans-serif

// Used for Headers
$raleway = 'Raleway', sans-serif

// Used for 'of' in progress counters
$georgia = Georgia, Times, "Times New Roman", serif

// Used for large quotaion marks around blockquotes
$pTSans = 'PT Sans', Times, "Times New Roman", serif

// Heading sizes
$largestHeader = 4rem
$largerHeader = 3rem
$largeHeader = 2rem
$bigHeader = 1.7rem
$header = 1.4rem
$grandParagraph = 1.2rem
$miniParagraph = 0.8rem